<%= content_for :head do %>
  <%= stylesheet_link_tag "dns", media: "all" %>
  <%= javascript_include_tag "dns" %>
<% end -%>

<div class="container">
  <%= render 'flash' %>
  <%= render 'proxy_control' %>
  <%= render 'blocked_list' %>
  <%= render 'host_configuration' %>
  <%= link_to 'host file <i class="fa fa-external-link"></i>'.html_safe, '/dns/hosts', target: '_new' %><br>
  <%= render 'troubleshooting' %>
</div>
